.hidden-menu {
    background-color: rgba(0, 0, 0, 0.3);
    transform: translate(0%, 0%);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4000;
}

.header__logo-hiddenMenu {
    margin-bottom: 20px;
    height: 60px;
    width: 60px;
    padding-left: 30px;
}

.iqons__logo {
    width: 40px;
    margin: 15px;
}

.iqons__logo:hover {
    width: 50px;
}

.phone {
    display: flex;
    justify-content: space-between;
}

.hidden-menu__title {
    font-size: 25px;
    line-height: 32px;
    line-height: 40px;
    color: black;
    opacity: 0.9;
    font-weight: 900;
    margin-top: 10px;
}

.nav__menu_adapt {
    width: 68%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu__close {
    height: 33px;
    width: 33px;
    background-image: url(../../images/close-2.png);
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 22.44px;
    top: 22.44px;
    cursor: pointer;
}

.nav-menu__close:hover {
    opacity: 0.8;
}

.nav-movie__movie_adapt {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-movie__link-adapt {
    text-decoration: none;
    color: black;
    margin: 0 auto 18px;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 8px;
    font-weight: 900;
    opacity: 0.6;
}


.nav-movie__link-adapt:hover {
    padding-bottom: 10px;
    font-size: 21px;
}

.nav-movie__link-adapt_profile {
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    position: absolute;
    bottom: 90px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

@media(max-width: 520px) {
    .iqons__logo {
        margin: 10px;
    }
}

@media(max-width: 450px) {
    .iqons__logo {
        margin: 5px;
    }
}

@media screen and (max-width: 400px) {
    .hidden-menu {
        background: unset;
    }

    .nav__menu_adapt {
        min-width: 100%;
    }

    .nav-menu__close {
        right: 13.44px;
        top: 13.44px;
    }

    .nav-movie__movie_adapt {
        margin-top: 40px;
    }

    .nav-movie__link-adapt {
        margin-bottom: 15px;
        padding-bottom: 8px;
    }

    .nav-movie__link-adapt_profile {
        bottom: 46px;
    }
}