.main-title {
    width: 100vw;
    height: 100vh;
    background: url(../../../images/img-1.jpg);
    background-size: 0 0;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
}

.main-title:before {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    background-size: cover;
    opacity: .3;
}

.main-title__description {
    display: flex;
    flex-direction: row;
    position: relative;
}

.description__title {
    font-size: 35px;
    color: rgba(27, 30, 57, .85);
    width: 80%;
    margin: 100px 50px 50px 20px;
}

.main-title__description-text {
    width: 100%;
    position: relative;
}

.main-title__description-title {
    width: 100%;
}

.main-show-title {
    transform: translateY(-300%);
    animation: ani 2s forwards;
}

@keyframes ani {
    0% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(0);
    }
}

.main-show-text {
    transform: translateY(300%);
    animation: mani 2s forwards;
}

@keyframes mani {
    0% {
        transform: translateY(300%);
    }

    100% {
        transform: translateY(0);
    }
}

.description__text {
    font-size: 18px;
    color: rgba(27, 30, 57, .85);
}

.main-title__text {
    width: 80%;
    position: absolute;
    transform: translate(15%, 30%);
}


.main-title__btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    width: 50%;
    margin: 20px 20px 20px 20px;
}

.main-title__btn::before {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 45px;
    width: 20px;
    height: 20px;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("../../../images/arrow-next-white.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.main-title__btn:hover::before {
    right: 20px;
}

.main-title__btn::after {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 30px;
    width: 30px;
    height: 30px;
    content: "";
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .2;
    border: 1px solid #fff;
}

.btn__text {
    position: relative;
    z-index: 1;
    display: block;
    padding: 20px 20px;
    padding-right: 70px;
    color: #fff !important;
    background-image: -o-linear-gradient(right, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85));
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(27, 30, 57, .85)), to(rgba(27, 30, 57, .85)));
    background-image: linear-gradient(to left, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto, cover;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
}

.btn__text::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 0;
    height: 100%;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    opacity: 0;
    background-color: rgba(255, 255, 255, .05);
}

.main-title__btn:hover .btn__text::before {
    visibility: visible;
    width: 100%;
    opacity: 1;
}