.services-title {
    width: 100vw;
    height: 60vh;
    background: url("../../images/inner.jpg");
    background-size: 0 0;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
    content: "";
}

.services-title:before {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
    background-size: cover;
    opacity: .3;
}


.services-title__btn {
    position: relative;
    z-index: 0;
    display: block;
    padding: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    width: 25%;
    margin: 20px auto;
}

.services-title__btn::before {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 45px;
    width: 20px;
    height: 20px;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("../../images/arrow-next-white.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.services-title__btn:hover::before {
    right: 20px;
}

.services-title__btn::after {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 30px;
    width: 30px;
    height: 30px;
    content: "";
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .2;
    border: 1px solid #fff;
}

.services_text {
    position: relative;
    z-index: 1;
    display: block;
    padding: 20px 20px;
    padding-right: 70px;
    color: #fff !important;
    background-image: -o-linear-gradient(right, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85));
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(27, 30, 57, .85)), to(rgba(27, 30, 57, .85)));
    background-image: linear-gradient(to left, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto, cover;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
}

.services__text::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 0;
    height: 100%;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    opacity: 0;
    background-color: rgba(255, 255, 255, .05);
}

.services-title__btn:hover .services__text::before {
    visibility: visible;
    width: 100%;
    opacity: 1;
}

.services__title {
    font-size: 35px;
    color: rgba(27, 30, 57, .85);
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.page-item__price {
    position: relative;
    z-index: 1;
    margin: 0;
    padding-left: 40px;
    font-size: 2.5rem;
    color: rgba(27, 30, 57, .85);
}

@media screen and (max-width: 930px) {
    .services-title__btn {
        width: 30%;
    }
}


@media screen and (max-width: 770px) {
    .services-title__btn {
        width: 35%;
    }
}

@media screen and (max-width: 670px) {
    .services-title__btn {
        width: 40%;
    }

    .services__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .services-title__btn {
        width: 45%;
    }

}

@media screen and (max-width: 520px) {
    .services-title__btn {
        width: 50%;
    }

}

@media screen and (max-width: 430px) {
    .services-title__btn {
        width: 55%;
    }

    .services__title {
        font-size: 25px;
    }
}

@media screen and (max-width: 400px) {
    .services-title__btn {
        width: 60%;
    }

    .services__title {
        font-size: 25px;
    }
}

@media screen and (max-width: 370px) {
    .services-title__btn {
        width: 65%;
    }
}

@media screen and (max-width: 340px) {
    .services-title__btn {
        width: 70%;
    }
}