.page {
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Philosopher', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: rgb(0, 0, 0);
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.page::before {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../../images/pattern.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: contain;
}

@-moz-document url-prefix() {
  .page {
    font-weight: lighter !important;
  }
}