.main-form {
    position: relative;
    z-index: 1;
    margin: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-form::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .5;
    background-image: -o-linear-gradient(left, #1b1e39, #e3e3e3);
    background-image: -webkit-gradient(linear, left top, right top, from(#1b1e39), to(#e3e3e3));
    background-image: linear-gradient(90deg, #1b1e39, #e3e3e3);
}

.main-form::after {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../../../images/img-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main-form__description-text {
    padding-top: 10px;
    margin: 0px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.main-form__btn {
    position: relative;
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    width: 20%;

}

.main-form__btn::before {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 45px;
    width: 20px;
    height: 20px;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("../../../images/arrow-next-white.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.main-form__btn:hover::before {
    right: 20px;
}

.main-form__btn::after {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 30px;
    width: 30px;
    height: 30px;
    content: "";
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .2;
    border: 1px solid #fff;
}

.btn__text {
    position: relative;
    z-index: 1;
    display: block;
    padding: 20px 20px;
    padding-right: 70px;
    color: #fff !important;
    background-image: -o-linear-gradient(right, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85));
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(27, 30, 57, .85)), to(rgba(27, 30, 57, .85)));
    background-image: linear-gradient(to left, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto, cover;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
}

.btn__text::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 0;
    height: 100%;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    opacity: 0;
    background-color: rgba(255, 255, 255, .05);
}

.main-form__btn:hover .btn__text::before {
    visibility: visible;
    width: 100%;
    opacity: 1;
}

.main-form__description {
    margin-top: 50px;
}



@media screen and (max-width: 1070px) {
    .main-form__btn::before {
        right: 35px;
    }

    .main-form__btn::after {
        right: 20px;

    }

}


@media screen and (max-width: 1030px) {
    .btn__text {
        padding-right: 50px;

    }

}

@media screen and (max-width: 1000px) {

    .form__btn {
        width: 30%;
    }

}

@media screen and (max-width: 700px) {

    .form__btn {
        width: 35%;
    }

}

@media screen and (max-width: 600px) {

    .form__btn {
        width: 40%;
    }

    .footer-info__title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 490px) {

    .form__btn {
        width: 45%;
    }

    .main-form__description-text {
        font-size: 25px;
    }

}

@media screen and (max-width: 490px) {

    .form__btn {
        width: 45%;
    }

    .main-form__description-text {
        font-size: 25px;
    }

}

@media screen and (max-width: 430px) {
    .form__btn {
        width: 50%;
    }
}

@media screen and (max-width: 390px) {
    .form__btn {
        width: 55%;
    }
}

@media screen and (max-width: 350px) {
    .form__btn {
        width: 60%;
    }
}

@media screen and (max-width: 320px) {
    .form__btn {
        width: 65%;
    }
}