.header {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), url(../../images/texture.jpg);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    align-items: center;
}

.header__link {
    padding: 10px;
    text-decoration: none;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.header__logo {
    height: 100px;
    width: 120px;
    cursor: pointer;

}

.header__logo-phone {
    height: 80px;
    width: 80px;
}

.header__text-phone {
    align-self: center;
    font-size: 35px;
    color: rgba(27, 30, 57, .85);
}

.header__title {
    color: rgba(27, 30, 57, .85);
    margin: 10px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.header__content {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__phone {
    text-decoration: none;
    flex-direction: row;
    display: flex;
}

.btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.btn::before {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 45px;
    width: 20px;
    height: 20px;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("../../images/arrow-next-white.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.btn:hover::before {
    right: 20px;
}

.btn::after {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 30px;
    width: 30px;
    height: 30px;
    content: "";
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .2;
    border: 1px solid #fff;
}

.btn__text {
    position: relative;
    z-index: 1;
    display: block;
    padding: 20px 20px;
    padding-right: 70px;
    color: #fff !important;
    background-image: -o-linear-gradient(right, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85));
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(27, 30, 57, .85)), to(rgba(27, 30, 57, .85)));
    background-image: linear-gradient(to left, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto, cover;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
}

.btn__text::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 0;
    height: 100%;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    opacity: 0;
    background-color: rgba(255, 255, 255, .05);
}

.btn:hover .btn__text::before {
    visibility: visible;
    width: 100%;
    opacity: 1;
}

@media screen and (max-width: 1230px) {
    .header__link {
        width: 20%;
    }

    .header__title {
        font-size: 25px;
    }

    .main-nav__link {
        font-size: 15px;
    }

    .btn__text {
        font-size: 15px;
    }

}

@media screen and (max-width: 1070px) {
    .btn::before {
        right: 35px;
    }

    .btn::after {
        right: 20px;

    }
}

@media screen and (max-width: 1030px) {
    .btn::before {
        right: 25px;
    }

    .btn::after {
        right: 15px;

    }



    .header {
        padding-left: 10px;
        padding-right: 20px;
    }

    .btn:hover::before {
        right: 10px;
    }

}



@media screen and (max-width: 900px) {
    .one {
        order: 1;
    }

    .two {
        order: 3;
    }

    .three {
        order: 2;
    }

    .header__text-phone {
        font-size: 25px;
    }
}

@media screen and (max-width: 900px) {

    .header__logo-phone {
        height: 60px;
        width: 60px;
    }

    .header__text-phone {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {

    .header__logo-phone {
        height: 50px;
        width: 50px;
    }

    .header__title {
        font-size: 20px;
    }

    .header {
        padding-right: 10px;
    }
}

@media screen and (max-width: 550px) {
    .one {
        order: 2;
    }

    .two {
        order: 3;
    }

    .three {
        order: 1;
    }

    .header__text-phone {
        font-size: 25px;
    }

    .header__logo {
        height: 80px;
        width: 100px;
        cursor: pointer;
    }

    .header__text-phone {
        font-size: 18px;
    }

    .header__content {
        justify-content: flex-start;
    }


    .header__phone {
        bottom: 20px;
        position: relative;
    }

    .header__logo-phone {
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 510px) {
    .header__text-phone {
        font-size: 17px;
    }
}

@media screen and (max-width: 500px) {
    .header__logo {
        height: 60px;
        width: 80px;

    }

    .header__logo-phone {
        height: 30px;
        width: 30px;
    }

    .header__title {
        font-size: 18px;
    }
}

@media screen and (max-width: 485px) {
    .header__text-phone {
        font-size: 15px;
    }
}


@media screen and (max-width: 470px) {
    .btn__text {
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    .header__logo {
        height: 50px;
        width: 70px;

    }

    .header__logo-phone {
        height: 30px;
        width: 30px;
    }

    .header__title {
        font-size: 15px;
    }
}

@media screen and (max-width: 440px) {
    .header__text-phone {
        font-size: 13px;
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    .header__logo-phone {
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 390px) {
    .one {
        order: 1;
    }

    .two {
        order: 3;
    }

    .three {
        order: 2;
    }

    .header__text-phone {
        font-size: 12px;
    }

    .header__title {
        font-size: 14px;
    }

    .header__btn {
        width: 50%;
    }

    .header {
        padding: 0px;
    }
}

@media screen and (max-width: 380px) {
    .header__logo-phone {
        height: 35px;
        width: 35px;
    }

    .header__title {
        font-size: 12px;
    }
}

@media screen and (max-width: 365px) {
    .header__text-phone {
        font-size: 11px;
    }

    .header__text-phone {
        font-size: 11px;
    }


}

@media screen and (max-width: 350px) {
    .header__text-phone {
        font-size: 10px;
    }

    .header__logo-phone {
        height: 30px;
        width: 30px;
    }

    .header__btn {
        width: 55%;
    }
}