.footer-bottom,
.footer-bottom__left,
.footer-bottom__right {
    text-align: center;
}

.footer-bottom .container {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.footer-bottom__left {
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.footer-bottom__center {
    margin-bottom: 20px;
    padding: 0;
}

.footer-bottom__right {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.footer-list__item {
    width: 100%;
    padding: 0 !important;
    list-style: none;
}

.appointment-form__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.appointment-form__item {
    width: 50%;
}




.footer-form .appointment-form__privacy {
    justify-content: flex-start;
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}

.footer-form__btn {
    text-align: left;
}

.footer-list__sub {
    text-align: center;
}

.footer-list__img {
    width: 80%;
    max-width: 430px;
    margin: 0 auto;
}

.footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.footer-contacts__item {
    width: 50%;
    margin-bottom: 20px;
    padding: 0 10px;
    list-style: none;
}

.footer-contacts .contacts-link {

    height: 100%;

    text-align: center;
    list-style: none;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}

.footer-contacts .contacts-link::before,
.footer-contacts .contacts-link::after {}

.gallery__item--col-5 {
    width: 25%;
}

.page-item__mark {
    justify-content: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.page-contacts__row {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.page-contacts__content {
    align-items: center;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.page-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.page-contacts__item {
    width: 50%;
    padding: 0 10px;
}

.page-contacts .contacts-link {
    justify-content: flex-start;
    height: 100%;
    padding: 20px;
    padding-top: 70px;
    text-align: center;
    border: 1px solid #c6c6c6;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}

.page-contacts .contacts-link::before,
.page-contacts .contacts-link::after {
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.page-contacts__btn {
    text-align: center;
}

.section--page-item-advokat .page-item__img {
    max-width: 500px;
    margin: 0 auto 20px;
}

.section--page-item-advokat .page-item__content {
    padding: 0;
}

.section--page-item-advokat .page-item__sub--quality {
    text-align: center;
}

.flex-list--col-3 {
    --count: 2;
}

.footer-info {
    position: relative;
    z-index: 1;
    padding: 40px 0;
}

.footer-info::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: -o-linear-gradient(right, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85)), url("../../images/texture.jpg");
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(27, 30, 57, .85)), to(rgba(27, 30, 57, .85))), url("../../images/texture.jpg");
    background-image: linear-gradient(to left, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85)), url("../../images/texture.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto, cover;
}

.footer-info__title {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.container,
.content-center {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;
}

.footer-list__item--contacts {
    padding-right: 40px;
}

.contacts-link {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    min-height: 40px;
    padding-left: 50px;
    text-align: left;
    white-space: nowrap;
    color: #2c2c2c;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.contacts-link:hover {
    color: #2c2c2c;
}

.contacts-link--adress,
.contacts-link--time {
    white-space: normal;
}

.contacts-link__text {
    font-weight: 700;
}

.contacts-link::before {
    position: absolute;
    z-index: 1;

    left: 0;
    width: 40px;
    height: 40px;
    content: "";

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px auto;
}

.contacts-link--adress::before {
    background-image: url("../../images/telegram.svg");
}

.contacts-link--phone::before {
    background-image: url("../../images/phone-2.png");
}

.contacts-link--email::before {
    background-image: url("../../images/email.png");
}

.contacts-link--time::before {
    background-image: url("../../images/time.svg");
}

.contacts-link::after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    width: 40px;
    height: 40px;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto, cover;

}



.contacts-link__name,
.contacts-link__number,
.contacts-link__text {
    color: #2c2c2c !important;
}

.contacts-link__name {}

.contacts-link__number {
    font-size: 1.2rem;
    font-weight: 700;
}

.footer-form {
    padding: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
}

.appointment-form__item {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%;
}

.appointment-form__control {
    position: relative;
    margin-bottom: 20px;
}

.appointment-form__label {
    margin-bottom: 5px;
}

.appointment-form__input {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 15px 20px !important;
    cursor: text;
    color: #2c2c2c !important;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .11) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.appointment-form__required {
    color: #1b1e39;
}

.footer-form__outro {
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
}

.appointment-form__list {
    margin: 0;
    padding: 0;
}

.form__close {

    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url(../../images/close-2.svg);
    background-color: unset;

}