.footer-bottom,
.footer-bottom__left,
.footer-bottom__right {
    text-align: center;
}

.footer-bottom .container {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.footer-bottom__left {
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.footer-bottom__center {
    margin-bottom: 20px;
    padding: 0;
}

.footer-bottom__right {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.footer-list__item {
    width: 100%;
    padding: 0 !important;
}

.appointment-form__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.appointment-form__item {
    width: 50%;
}

.appointment-form__item:first-child {
    padding-right: 10px;
}

.appointment-form__item:last-child {
    padding-left: 10px;
}

.footer-form .appointment-form__privacy {
    justify-content: flex-start;
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}

.footer-form__btn {
    text-align: left;
}

.footer-list__sub {
    text-align: center;
}

.footer-list__img {
    width: 80%;
    max-width: 430px;
    margin: 0 auto;
}

.footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.footer-contacts__item {
    width: 50%;
    margin-bottom: 20px;
    padding: 0 10px;
}

.footer-contacts .contacts-link {
    justify-content: flex-start;
    height: 100%;
    padding: 20px;
    padding-top: 70px;
    text-align: center;
    border: 1px solid #c6c6c6;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}

.footer-contacts .contacts-link::before,
.footer-contacts .contacts-link::after {
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.gallery__item--col-5 {
    width: 25%;
}

.page-item__mark {
    justify-content: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.page-contacts__row {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.page-contacts__content {
    align-items: center;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.page-contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.page-contacts__item {
    width: 50%;
    padding: 0 10px;
}

.page-contacts .contacts-link {
    justify-content: flex-start;
    height: 100%;
    padding: 20px;
    padding-top: 70px;
    text-align: center;
    border: 1px solid #c6c6c6;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}

.page-contacts .contacts-link::before,
.page-contacts .contacts-link::after {
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.page-contacts__btn {
    text-align: center;
}

.section--page-item-advokat .page-item__img {
    max-width: 500px;
    margin: 0 auto 20px;
}

.section--page-item-advokat .page-item__content {
    padding: 0;
}

.section--page-item-advokat .page-item__sub--quality {
    text-align: center;
}

.flex-list--col-3 {
    --count: 2;
}

.footer-info {
    position: relative;
    z-index: 1;
    padding: 40px 0;
}

.footer-info::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: -o-linear-gradient(right, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85)), url("../../images/texture.jpg");
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(27, 30, 57, .85)), to(rgba(27, 30, 57, .85))), url("../../images/texture.jpg");
    background-image: linear-gradient(to left, rgba(27, 30, 57, .85), rgba(27, 30, 57, .85)), url("../../images/texture.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto, cover;
}

.footer-info__title {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.container,
.content-center {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;
}