.footer {
    background-image: radial-gradient(600px 450px, #ffffff, #140800);
    padding: 70px 70px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
}

.footer__title {
    margin: 0;
    width: 100%;
    font-weight: 400;
    color: #6a6a6a;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}

.footer__info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}


.footer__year {
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
}

.footer__list {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.footer__list-item {
    list-style: none;
}

.footer__list-item:hover {
    opacity: 0.8;
}

.footer__list-link {
    text-decoration: none;
    color: black;
}

.iqon__logo {
    width: 40px;
    margin: 10px;
}

.iqon__location {
    width: 20px;
    margin: 0px;
}

.iqon__email {
    width: 20px;
    margin-right: 10px;
}

@media(max-width: 1280px) {
    .footer {
        background-image: radial-gradient(500px 400px, #ffffff, #140800);
    }
}

@media(max-width: 1100px) {
    .footer {
        background-image: radial-gradient(450px 400px, #ffffff, #140800);
    }
}

@media(max-width: 968px) {
    .footer {
        background-image: radial-gradient(400px 300px, #ffffff, #140800);
    }
}

@media(max-width: 900px) {
    .footer {
        background-image: radial-gradient(370px 250px, #ffffff, #140800);
    }
}

@media(max-width: 800px) {
    .footer {
        background-image: radial-gradient(360px 210px, #ffffff, #140800);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        background-image: radial-gradient(350px 200px, #ffffff, #140800);
        padding: 45px 40px 20px;
    }
}

@media screen and (max-width: 740px) {
    .footer {
        background-image: radial-gradient(340px 180px, #ffffff, #140800);
        padding: 45px 40px 20px;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        background-image: radial-gradient(340px 160px, #ffffff, #140800);
        padding: 45px 40px 20px;
    }
}


@media screen and (max-width: 680px) {
    .footer {
        padding: 60px 10px 10px;
        font-size: 12px;
        line-height: 15px;
        background-image: radial-gradient(340px 160px, #ffffff, #140800);
    }

    .footer__title {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 21px;
        color: #404040;
        font-size: 14px
    }

    .footer__info {
        font-size: 12px;
        line-height: 15px;
        flex-direction: column;
    }

    .footer__list {
        flex-direction: row;
        margin-top: 20px;
    }

    .footer__year {
        margin: 0px;
        color: black;
        font-size: 16px;
        padding-top: 10px;
    }

    .footer__list-item {
        text-align: center;
        margin-left: 0;
        margin-bottom: 12px;
    }
}

@media(max-width: 660px) {
    .footer {
        background-image: radial-gradient(320px 160px, #ffffff, #140800);
    }
}

@media(max-width: 600px) {
    .footer {
        background-image: radial-gradient(320px 160px, #ffffff, #140800);
    }
}

@media(max-width: 570px) {
    .footer {
        background-image: radial-gradient(300px 150px, #ffffff, #140800);
    }
}

@media(max-width: 470px) {
    .footer {
        background-image: radial-gradient(250px 150px, #ffffff, #140800);
    }
}

@media(max-width: 400px) {
    .footer__year {
        font-size: 14px;
    }

    .iqon__logo {
        width: 35px;
        margin: 10px;
    }
}

@media(max-width: 375px) {
    .footer {
        background-image: radial-gradient(230px 150px, #ffffff, #140800);
    }
}

@media(max-width: 320px) {
    .footer {
        background-image: radial-gradient(200px 140px, #ffffff, #140800);
    }
}