.catalog__item {
    margin-bottom: 20px;
    padding: 0 10px;
}

.catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}

.catalog--col-2 .catalog__item {
    width: calc(100% / 2);
}

.catalog__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    list-style: none;
    text-decoration: none;
}

.catalog__icon {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), url(../../../images/texture.jpg);
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .05))), url(../../../images/texture.jpg);
    background-image: linear-gradient(to left, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), url(../../../images/texture.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto, cover;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1);
}

.catalog__icon::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px auto;
}


.catalog__icon::after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 0;
    height: 100%;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    opacity: 0;
    background-color: rgba(0, 0, 0, .1);
}

.catalog__content:hover .catalog__icon::after {
    visibility: visible;
    width: 100%;
    opacity: 1;
}

.catalog__img {
    position: relative;
    z-index: 1;
}

.catalog__img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 300px;
}

.catalog__info {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

}

.catalog__info::before {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    content: "";
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    opacity: .11;

    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
}

.catalog__title,
.catalog__price {
    text-align: center;
    color: #2c2c2c;
}

.catalog__mark {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    min-height: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.catalog__price {
    position: relative;
    z-index: 1;
    margin: 0;
    padding-left: 30px;
    font-size: 1.5rem;
}

.catalog__price::before {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.catalog__number {
    white-space: nowrap;
    font-size: 2.5rem;
    font-weight: 700;
}

.catalog__content:hover .catalog__btn::before {
    right: 20px;
}

.catalog__content:hover .btn__text::before {
    visibility: visible;
    width: 100%;
    opacity: 1;
}