.content-center {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
}

.section--page-item {
    position: relative;
    z-index: -1;
}

.section--page-item::before {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.section--page-item::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .9;
    background-color: #fff;
}

.page-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;

    -webkit-box-align: start;
    -ms-flex-align: start;
    z-index: -1;
    position: relative;
}

.page-item__content {


    width: 55%;
    padding-right: 40px;
    z-index: -1;
    position: relative;
}

.page-item__img img {
    position: relative;
    z-index: 1;
    width: 110%;
    height: 350px;
    margin-top: 30px;
    margin-left: 30px;
}

.page-item__img::before {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    content: "";
    opacity: .15;
    background-repeat: no-repeat;
    background-position: bottom left;

    background-size: contain;
}

.about-title {
    font-size: 35px;
    color: rgba(27, 30, 57, .85);
    text-align: center;
    margin: 10px 10px;
}

.about-text {
    text-indent: 2em;
    text-align: justify;
    margin: 20px 10px;
}



@media screen and (max-width: 1140px) {
    .content-center {
        padding: 0 0px;
    }
}


@media screen and (max-width: 1140px) {
    .content-center {
        padding: 0 0px;
    }

    .page-item__content {

        padding-right: 0px;

    }
}

@media screen and (max-width: 1000px) {
    .page-item__img img {
        margin-left: 20px;
        margin-top: 70px;
    }

}

@media screen and (max-width: 950px) {
    .page-item__img img {
        margin-left: 10px;
        margin-top: 80px;
        height: 400px;
        width: 100%;
    }
}

@media screen and (max-width: 910px) {
    .page-item__img img {
        margin-left: 5px;
    }
}

@media screen and (max-width: 900px) {
    .page-item {
        flex-direction: column-reverse;
    }

    .page-item__img {
        width: 80%;
        margin: 0 auto;
    }

    .page-item__content {
        padding-right: 0px;
        width: 95%;
        margin: 0 auto;
    }

    .page-item__img img {
        margin: 20px auto;

    }
}


@media screen and (max-width: 630px) {

    .page-item__img {
        width: 90%;
    }

}


@media screen and (max-width: 550px) {
    .page-item__img img {

        height: 350px;
    }

    .page-item__img {
        width: 95%;
    }

}

@media screen and (max-width: 450px) {
    .page-item__img img {

        height: 300px;
    }
}

@media screen and (max-width: 350px) {
    .page-item__img img {

        height: 280px;
    }
}